# Add any directories, files, or patterns you don't want to be tracked by version control
*.pyc
*.swp
*~
*.ps1
*.sh
*.csv
__pycache__
*.sqlite
*.sqlite3
/static
.DS_Store
/.idea
/media
/uploads
/downloads
.vscode
/log
